.wrapper{
    max-width: 1920px;
    padding: 0 68px;
}

.rectangle-top{
    width: 100%;
    height: 40px;
    border: 1px solid black;
}

.head__sel{
    position: absolute;
    top: 90px;
    right: 35px;
}

.dif{
    font-size: 144px;
    color: #0079bd;
    font-weight: 600;
    text-align: center;
}

.map{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.map__laAm{
    width: 864px;
    height: auto;
    display: block;
}

.map__laAmStat{
    width: 619px;
    height: 770px;
    display: block;
    margin: auto 0;
}

.map__switch-wrap{
    position: absolute;
    overflow: hidden;
    bottom: 0px;
    left: 0;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    width: 200px;
    border-spacing: 0;
    border-collapse: collapse;
    color: black;
}

.map__switch{
    border-collapse: collapse;

}

.map__switch_p{
    font-size: 20px;
    font-weight: 700;
}

.map__switch-row{
    border-collapse: collapse;
    border-top: 2px solid black;
}

.map__switch-but{
    width: 26px;
    height: 26px;
    border-right: 2px solid black;
}

.map__switch-name{
    width: 176px;
    height: 26px;
    font-weight: 600;
}

.dia__head{
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    width: 40%;
    height: 110px;
    display: flex;
    border: 2px solid black;
}

.dia__head > *{
    font-size: 60px;
    font-weight: 600;
    margin: auto;
}

.model{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.path{
    display: block;
    margin: 40px auto;
    width: 1000px;
    height: auto;
}

.wrap__middle-circ{
    margin-left: auto;
    margin-right: auto;
}

.wrap__circles{
    margin-left: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.wrap__circle{
    display: flex;
    width: 270px;
    height: 270px;
    border-radius: 100%;
    background-color: #0079bd;
}

.wrap__circle-text{
    margin: auto;
    font-size: 36px;
    font-weight: 600;
    color: white;
}

.wrap__top-circ{
    display: flex;
    justify-content: space-between;
}

.bottom-table-wrapper{
    margin-top: 150px;
    width: 100%;
    border: 2px solid black;
    border-radius: 6px;
}

.bottom-table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.bottom-table__head{
    position: relative;
    text-align: center;
    height: 110px;
}

.bottom-table__head-text{
    vertical-align: middle;
    font-size: 60px;
    font-weight: 600;
}

.bottom-table__dow-img{
    display: block;
    position: absolute;
    width: 64px;
    height: auto;
    top: 0;
    bottom: 0;
    right: 20px;

    top: 50%;
    transform: translate(0%, -50%);
}

.bottom-table__row-name{
    background-color: #e5e5e5;
    font-size: 36px;
    font-weight: 600;
}

.bottom-table__row{
    border-top: 2px solid black;
    height: 127px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.bottom-table__column{
    font-size: 36px;
    display: flex;
    border-left: 2px solid black;
}

.bottom-table__column  *{
    margin: auto;
}

.bottom-table__column:first-child{
    border-left: 0px solid black;
}

.circle{
    display: flex;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 460px;
    height: 230px;
    background-color: #0079bd;
    border-top-right-radius: 230px;
    border-top-left-radius: 230px;
}

.circle__center{
    display: flex;
    margin: auto;
}

.circle__text{
    font-weight: 600;
    color: white;
    font-size: 144px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle__wave-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle__wave{
    width: 87px;
    height: auto;
    margin: auto;
}

.copy{
    position: absolute;
    margin-left: -10px;
    margin-top: -45px;
    color: #aaaaaa;
    font-size: 16px;
    left: 43px;
    bottom: 24px;
}