.wrapper{
    max-width: 1920px;
}

.wr-wr{
    zoom: 0.85;
}

.rectangle-top{
    width: 100%;
    height: 40px;
    border: 1px solid black;
}

.head__sel{
    position: absolute;
    top: 80px;
    right: 0;
}

.dif{
    font-size: 144px;
    color: #0079bd;
    font-weight: 600;
    text-align: center;
}

.content{
    display: flex;
    /* margin-top: 50px; */
    /* display: flex;
    justify-content: space-between; */
    /* display: grid; */
    /* grid-template-columns: 434px 946px 434px; */
}

.tab-wr{
    border-radius: 8px;
    width: 434px;
}

.tab-wr-mod{
    border: none;
}

.tab{
    width: 100%;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
}

.tab__td{
    height: 438px;
    font-family: Arial, Helvetica, sans-serif;
}

.tab__head{
    font-size: 36px;
    font-weight: 600;
    border-top: 2px solid black;
    height: 61px;
}

.tab__head-mod{
    border: 2px solid black;
}

.tab__cont{
    font-size: 28px;
}

.tab__image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content__text{
    display: table-cell;
    vertical-align: middle;
    font-size: 72px;
    text-align: center;
}

.content__text-wrapper{
    display: table;
    height: 100%;
    width: 100%;
}

.circle{
    display: flex;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 460px;
    height: 230px;
    background-color: #0079bd;
    border-top-right-radius: 230px;
    border-top-left-radius: 230px;
}

.circle__center{
    display: flex;
    margin: auto;
}

.circle__text{
    font-weight: 600;
    color: white;
    font-size: 144px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle__wave-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle__wave{
    width: 87px;
    height: auto;
    margin: auto;
}

.copy{
    margin-top: -22px;
    display: block;
    color: #aaaaaa;
    font-size: 16px;
}

/* .navigation{
    background-color: #0079bd;
    color: white;
    font-weight: 700;
    margin: 0px -53px;
    padding: 30px 68px;
    width: 1920px;
    display: flex;
    justify-content: space-between;
}

.inder-head{
    background-color: #0079bd;
    margin: 0px -53px;
    height: 50px;
    width: 1920px;
}

.link{
    font-size: 40px;
}

.dif-wrapper{
    height: 700px;
    margin-left: -53px;
    width: 1920px;
    display: flex;
    background-size: cover;
}

.dif{
    display: block;
    width: 800px;
    background-color: #ffffffd3;
    margin: auto;
    font-size: 144px;
    color: #0079bd;
    font-weight: 600;
    text-align: center;
} */

.navigation{
    background-color: #0079bd;
    color: white;
    font-weight: 700;
    /* margin: 0px -300px; */
    padding: 20px 0px;
}

.inder-head{
    background-color: #0079bd;
    /* margin: 0px -300px; */
    height: 30px;
    width: 100%;
}

.link{
    font-size: 22px;
}

.dif-wrapper{
    height: 500px;
    /* margin-left: -300px; */
    width: 100%;
    display: flex;
    background-size: cover;
}

.dif{
    display: block;
    width: 550px;
    background-color: #ffffffd3;
    margin: auto;
    font-size: 120px;
    color: #0079bd;
    font-weight: 600;
    text-align: center;
}

.wrapper-content{
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
}

.gr{
    grid-gap: 30px;
    margin-top: 50px;
    display: grid;
    grid-template-areas: 'mirz .'
    'pis kozl'
    'les efr';
}

.mirz{
    grid-area: mirz;
}

.efr{
    grid-area: efr;
}

.kozl{
    grid-area: kozl;
}

.les{
    grid-area: les;
}

.pis{
    grid-area: pis;
}

.navi{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1546px;
}

/* @media screen and (max-width: 1444px) and (min-width: 1000px){
    
    .scale{
        zoom: 0.5;
    }

    .head{
        zoom: 0.7;
    }
}

@media screen and (max-width: 1000px) and (min-width: 750px){
    
    .scale{
        zoom: 0.35;
    }

    .head{
        zoom: 0.5;
    }
} */